body{
    margin: 0;
	font-family: 'Montserrat', 'Actor', 'Tahoma', sans-serif;
    font-size: 24px;
    background-color: #f2f2f2;
}



/*--- HEADER STYLES ---*/

ul{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	margin: 0;
	padding: 0.5em 0;
	background-color: #f2f2f2;
	font-size: 28px;
	color: black;
}

li{ 
	display: inline-block;
	vertical-align: middle;
	width: 5em;
	padding: 0 0.5em;
	text-align: center;
	color: black;
}

.header{
	background-color: #f2f2f2;
}

.header img{
	display: inline-block;
	height: 2em;
	margin: auto;
}

li:hover{
	font-weight: bold;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-options{
    display: block;
	animation: dropdownslide 1s;
}

@keyframes dropdownslide{
	from {top: 0.8em; opacity: 0;}
	to {top: 1.21em; opacity: 1;}
}

.dropdown-options{
	background-color: #f2f2f2;
    display: none;
    position: absolute;
	width: 6em;
	padding-top: 0.5em;
	text-align: center;
	z-index: 10;
}

.dropdown-options a{
    color: black;
    text-decoration: none;
    display: block;
	padding-bottom: 0.5em;
}

.dropdown-options a:hover{
	font-weight: bold;
}

@media all and (max-width: 660px){
	li{
		padding: 0em 0.5em 0.5em 0.5em;
	}
	
	ul{
		padding: 0em;
		padding-top: 0.5em;
	}
}



/*--- FOOTER STYLES ---*/
.footer{
	display: block;
	padding: 2em 3em;
	background: linear-gradient(to bottom, #4d4d4d, #333333);
	color: white;
}

.footer img{
	height: 2em;
	padding-right: 1em;
}



	
	
	
	
	
	
