/*--- SIGNUP STYLES ---*/

/* Sign Up */
.signup{
	padding: 1em;
	border-bottom: 2px solid #adadad;
	background: linear-gradient(to bottom right, #9a61b2, #d147a3);
	color: white;
}

.signup h1{
	padding-bottom: 0.5em;
}

.inputline{
	text-align: center;
	padding: 1em;
}

.inputline input{
	width: 30%;
	margin: 0.5em;
	padding-left: 0.5em;
	border: 1px solid #adadad;
	border-radius: 3px;
	font: inherit;
}

.inputline input:focus{
	border: 1px solid #adadad;
	box-shadow: 0 0 4px #61C5FA;
}

.inputline button{
	width: 15em;
	height: 3em;
	margin: auto;
	border: none;
	border-radius: 3em;
	box-shadow: 0 0 15px #decce5;
	background: linear-gradient(to bottom, #653b78 0%, #9a61b2 50%, #824c9a 51%, #b287c4 100%);
	font: inherit;
	color: white;
	cursor: pointer;
	transition: transform 0.3s;
}

.inputline button:hover{
	transform: scale(1.05, 1.05);
}

/* Log In */
.fourty input{
	width: 40%;
	margin-bottom: 0em;
}
